# Configurações da API UNIPAY
UNIPAY_SECRET_KEY=sk_a0aab6155b590896932e3c92f49df02c59108c74
UNIPAY_API_URL=https://api.unipaybr.com/api

# Configurações do Next.js
NEXT_PUBLIC_APP_URL=http://localhost:3000
